
<form action="/random/result" method="get">
  <label for="a">Minimum</label>
  <input id="a" type="text" name="users_min" value="<%= params[:users_min].presence || "" %>" placeholder="E.g. 1.5"><br>

  <label for="b">Maximum</label>
  <input id="b" type="text" name="users_max" value="<%= params[:users_max].presence || "" %>" placeholder="E.g. 4.5"><br>

  <button>Pick random number</button>
</form>
