<form action="/square/result" method="get">
  <label for="a">Enter a number</label>
  <input id="a" type="text" name="users_num" value="<%= params[:users_num].presence || "" %>" placeholder="What number do you want?"><br>

  <button>Calculate square</button>
</form>
